

.cabeçalho{
    background-color: #5d82e9;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

header{
    background-color: #383D58;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block


}