
.cabeçalho{
    background-color: #5d82e9;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

header{
    background-color: #383D58;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabeçalho-lista-item{
    display: inline-block


}
.TPG-imagem{
    width: 25%;
}

.tropa-puramente-grandiosa
{
    background-image: linear-gradient(#21E157,#2157E1);
    color: rgb(1, 0, 0);
    display: flex;
} 